body {
    margin: 0;
}

header {
    background-color: lightblue;
    height: 80px;
    position: sticky;
    top: 0;
}

main {
    padding: 16px 10%;
}

aside {
    width: 29%;
    margin-right: 1%;
    background-color: lightcoral;
    height: 450px;
    display: inline-block;
}

section {
    width: 69%;
    background-color: burlywood;
    height: 450px;
    display: inline-block;
}

footer {
    background-color: lightgray;
    height: 300px;
}