body{
    background-color: #f0f1f7;
    margin: 0;
}

#topbar{
    width: 100%;
    height: 62px;
    padding: 12px 80px;
    border-bottom: 1px solid #ccc;
    background-color: white;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
}

#logo{
    color: #0086ff;
    font-size: 32px;
    letter-spacing: -1px;
    font-weight: 900;
    font-family: "Raleway" , sans-serif;
    margin-right: 48px;
}

.menu-item{
    margin: 0;
    margin-right: 24px;
    font-family: "Raleway" , sans-serif;
    font-weight: 500;
    cursor: pointer;
    font-size: 14px;
    position: relative;
    bottom: 6px;
}

#wrapper{
    width: 100%;
    height: 500px;
    background-color: lightblue;
    margin-top: 80px;
    margin-left: 80px;
    position: relative;
}

#css-image{
    width: 500px;
    height: 300px;
    border: 3px solid black;
    position: static;
}

#html-image{
    width: 500px;
    height: 300px;
    border: 3px solid black;
    position: relative;
    top: 36px;
    right: 32px;  
}

#js-image{
    width: 500px;
    height: 300px;
    border: 3px solid black;
    position: absolute;
    top: 0;
    right: 0;
}

#react-image{
    width: 200px;
    height: 100px;
    border: 3px solid black;
    position: fixed;
    right: 0;
    bottom: 0;
}